/* BEM */
/* Block Element Modifier */
/* Block - is the entire encasing name for example button */
/* Element - is something specific inside the block for example text */
/* Modifier - is something that modifies the block element for example white */
/* Block and Element are separated by double underscore __ and a modifier is separated by double dash -- */
/* Put together this example class would look like button__text--white */
/* You always need the Block and Element but you don't always need the Modifier */

/* REST CARD */

.restCard__container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: auto;
  text-align: left;
  font-family: "Readex Pro", sans-serif;
  text-decoration: none;
}

.restCard__link {
  text-decoration: none;
}

.restCard__bookmarkIconContainer {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  position: relative;
  top: -204px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 317px;
}

.restCard__bookmarkImg {
  height: 25px;
}

.restCard__title {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 7px;
  color: black;
}

.restCard__img {
  width: 380px;
  border-radius: 25px 25px 0 0;
}

.restCard__bottomContainer {
  display: flex;
  flex-direction: column;
  width: 380px;
  border-radius: 0 0 25px 25px;
  background-color: #ffffff;
  position: relative;
  top: -54px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.restCard__infoBar {
  display: flex;
  justify-content: flex-start;
  width: 360px;
  margin-left: 20px;
  color: grey;
}

.restCard__icon {
  height: 25px;
  margin-right: 6px;
}

.restCard__infoBarItem {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

/* REST PAGE  */

/* .singleRest__container {
} */

 .singleRest__bottomContainer{
height: 448px;
top: -20px;
position: relative;
background-color: #F6F6F6;
border-radius: 20px 20px 0 0;
font-family: "Readex Pro", sans-serif;
} 

.singleRest__link {
  text-decoration: none;
}

.singleRest__imgContainer {
  display: flex;
}

.singleRest__img {
  background-color: #000000;
  width: 100%;
}

.singleRest__titleContainer {
border-radius: 20px;
}

.singleRest__title {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  
}

.singleRest__addressBar {
  display: flex;
  align-items: center;
  padding-left: 16px;
  color: grey;
}

.singleRest__addressIcon {
  height: 25px;
}

.singleRest__address {
  padding-left: 9px;
}

.singleRest__reservationButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.singleRest__reservationButton {
  height: 50px;
  width: 150px;
  background-color: #cb9981;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESERVATION PAGE */

.reservationCard__container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: auto;
  text-align: center;
  font-family: "Readex Pro", sans-serif;
  text-decoration: none;
  border-style: solid;
  border-color: #000000;
  margin-bottom: 30px;
  border-radius: 20px;
  padding-bottom: 20px;
}

.reservationCard__statusContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.reservationCard__statusBar{
  height: 50px;
  width: 150px;
  background-color: #cb9981;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* RESERVATION PAGE */

.reservationPage__font {
  font-family: "Readex Pro", sans-serif;
}

.reservationCard__ImgContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  
}

.reservationCard__reservationImg{
  height: 25px;
}

.reservationCard__date{
  margin-left: 10px;
}

.reservationCard__hour{
  margin-left: 10px;
}

.reservationCard__people{
  margin-left: 10px;
}

/* SEARCH BAR */

.searchBar{
  width:380px;

}

/* BOTTOM NAVBAR */

.bottomNavbar__mainContainer {
  background: white;
  color: #777;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  height: 50px;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 80px;
  font-family: "Readex Pro", sans-serif;
  font-size: small;
  
}

.bottomNavbar__container{
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-left: 50px;
}

.bottomNavbar__icons{
  padding-left: 20px;
}

.bottomNavbar__text{
  color: #777;
}

.bottomNavbar__icons{
  height: 25px;
  display: flex;
}

.bottomNavbar__textIconContainer{
  display: flex;
}