/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a{
    list-style: none;
    text-decoration: none;
    
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* BEM */
/* Block Element Modifier */
/* Block - is the entire encasing name for example button */
/* Element - is something specific inside the block for example text */
/* Modifier - is something that modifies the block element for example white */
/* Block and Element are separated by double underscore __ and a modifier is separated by double dash -- */
/* Put together this example class would look like button__text--white */
/* You always need the Block and Element but you don't always need the Modifier */

/* REST CARD */

.restCard__container {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: auto;
  text-align: left;
  font-family: "Readex Pro", sans-serif;
  text-decoration: none;
}

.restCard__link {
  text-decoration: none;
}

.restCard__bookmarkIconContainer {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  position: relative;
  top: -171px;
  /* background-color: #ffffff; */
  display: flex;
  justify-content: center;
  align-items: center;
  left: 317px;
  border-style: none;
}

.restCard__bookmarkImg {
  height: 31px;
}

.restCard__bookmarkIconButton{
    border-style: none;
    border-radius: 15px;
    cursor: pointer;
    height: 48px;
    width: 60px;
}

.restCard__bookmarkIconButton:active{
  background-color: rgb(61, 189, 45);
  cursor: pointer;
  border-radius: 15px;
  height: 48px;
  width: 60px;
}

.restCard__title {
  margin-left: 20px;
  margin-bottom: 0;
  margin-top: 7px;
  color: black;
}

.restCard__img {
  width: 380px;
  border-radius: 25px 25px 0 0;
  object-fit: cover;
  height: 179px;
}

.restCard__bottomContainer {
  display: flex;
  flex-direction: column;
  width: 380px;
  border-radius: 0 0 25px 25px;
  background-color: white;
  position: relative;
  top: -54px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.restCard__infoBar {
  display: flex;
  justify-content: flex-start;
  width: 360px;
  margin-left: 20px;
  color: grey;
  flex-direction: row;
  flex-wrap: wrap;
}

.restCard__icon {
  height: 25px;
  margin-right: 6px;
}

.restCard__infoBarItem {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

/* REST PAGE  */

/* .singleRest__container {
} */

 .singleRest__bottomContainer{
height: 1050px;
top: -20px;
position: relative;
background-color: white;
border-radius: 20px 20px 0 0;
font-family: "Readex Pro", sans-serif;
} 

.singleRest__link {
  text-decoration: none;
}

.singleRest__imgContainer {
  display: flex;
}

.singleRest__img {
  background-color: #000000;
  width: 100%;
}

.singleRest__titleContainer {
  border-radius: 20px;
}

.singleRest__title {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.singleRest__addressBar {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: grey;
}

.singleRest__addressIcon {
  height: 25px;
}

.singleRest__address {
  padding-left: 9px;
}

.singleRest__reservationButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  
}



.singleRest__reviewContainer {
  background-color: white;
  box-shadow: 0px 1px 2px gray;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 40px;
}

.singleRest__h2 {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
}

.singleRest__reviewFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.singleRest__reviewFormContainer input, textarea{
  font-size: 1em;
  border-radius: 10px;
  font-family: "Readex Pro", sans-serif;

  width: 60%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

.review-button{
  font-size: 0.8em;
  border-radius: 10px;
  width: 30%;
  margin-top: 3%;
  padding: 8px 6px;
  font-size: 1em;
  border: 1px solid #202D3C;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #202D3C;
  color: white;
  margin-bottom: 30%;
}

.singleRest__reservationButton {
  padding: 15px 15px;
  background-color: #21AC6B;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}
.singleRest__reservationButton a {
 
  color: white;

}
.restaurant-description{
  margin: 0 5%;
}
.restaurant-description p{
  line-height: 1.5em;

}
.restaurantsReviews{
  margin-left: 5%;
}
hr{
  width: 90%;
}
/* RESERVATION PAGE */

.reservationForm form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
/* .SingleDatePicker{
  
} */

.reservationForm input{
  font-size: 1em;
  border-radius: 10px;
  width: 60%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.reservationCard__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  text-align: center;
  border: 10px solid #C2D5E8;
  border-radius: 10px;
  background-color: #C2D5E8;
}

.reservationCard__statusContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.reservationCard__statusBar {
  height: 50px;
  width: 150px;
  background-color: #f3f3f3;
  border-radius: 15px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}




.reservationPage__font {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservationCard__ImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}

.reservationCard__reservationImg {
  height: 25px;
}

.reservationCard__date {
  margin-left: 10px;
}

.reservationCard__hour {
  margin-left: 10px;
}

.reservationCard__people {
  margin-left: 10px;
}

/* SEARCH BAR */

.searchBar {
  width: 85%;
  margin: 10% 0;
  height: 50px;
  font-size: 1em;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.searchBar__container{
  display:flex;
  align-items: center;
  padding-bottom: 40px;
  padding-top: 40px;
  
}

/* BOTTOM NAVBAR */

.bottomNavbar__mainContainer {
  background: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 2px grey;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
}

.businessBottomNav{
  background: white;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 1px 2px grey;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 10%;
  justify-content: space-evenly;
  align-items: center;
  
  
}




.bottomNavbar__icon {
  height: 35px;
  display: flex;
 
}

.bottomNavbar__favIcon {
  height: 25px;
  display: flex;
}

.bottomNavbar__profileIcon {
  height: 35px;
  display: flex;
}

.bottomNavbar__Container {
  display: flex;
}

/* HOMEPAGE */

.homepage__container {
  padding-bottom: 80px;
  display:flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
}

/* LOGIN PAGE CONTAINER */

.loginPage__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 20%;
  padding-bottom: 5%;
}

.loginPage__form input{
  font-size: 1em;
  border-radius: 10px;
  width: 60%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.loginPage__form button{
  font-size: 0.8em;
  border-radius: 10px;
  width: 30%;
  margin-top: 3%;
  padding: 8px 6px;
  font-size: 1em;
  border: 1px solid #202D3C;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #202D3C;
  color: white;
}

/* FAVOURITE PAGE */

#delete-button{
  background-color: white;
  border: 4px solid white;
  padding: 2 8px;
  border-radius: 14px;
}
#delete-button:hover{
  background-color: rgb(223, 82, 82);
  border: 4px solid rgb(223, 82, 82);
  border-radius: 14px;
}

/*Sign up */

.SignupPage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 12%;
  padding-bottom: 5%;
}
.SignupPage input{
  font-size: 1em;
  border-radius: 10px;
  width: 60%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.SignupPage button{
  font-size: 0.8em;
  border-radius: 10px;
  width: 30%;
  margin-top: 3%;
  padding: 8px 6px;
  font-size: 1em;
  border: 1px solid #202D3C;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #202D3C;
  color: white;
}

.login-text{
  margin-top: 9%;
}

.signup-text{
  margin-bottom: 9%;
}


/*BUSINESS SIGN UP */

.loginPageBusiness__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 20%;
  padding-bottom: 5%;
}



.loginPageBusiness__title{
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginPageBusiness__form input{
  font-size: 1em;
  border-radius: 10px;
  width: 60%;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.loginPageBusiness__form button{
  font-size: 0.8em;
  border-radius: 10px;
  width: 30%;
  margin-top: 3%;
  padding: 8px 6px;
  font-size: 1em;
  border: 1px solid #21AC6B;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #21AC6B;
  color: white;
}

.businessButton button{
  font-size: 0.8em;
  border-radius: 10px;
  width: 30%;
  margin-top: 3%;
  padding: 8px 6px;
  font-size: 1em;
  border: 1px solid #21AC6B;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #21AC6B;
  color: white;

}

.profileContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-info{
  display: flex;
  flex-direction: column;

  align-items: flex-start;
  text-align: center;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  padding-bottom: 5%;
}
.profile-info span{
margin-left: 5%;
margin-top:5% ;

}

.profile-info h3{
  font-size: 1.5em;
  margin-bottom: 0;
  margin-left: 4%;
  margin-top: 4%;
  
  
}
.profileReservations{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: flex-start;
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  width: 90%;
  padding-bottom: 5%;

}
.profileReservations p{
  margin-left: 5%;
  margin-top:0 ;
  margin-bottom: 0;
  
  }
  .profileReservations h3{
    color: #202D3C;
    font-size: 1.5em;
    margin-bottom: 0;
    margin-left: 4%;
    margin-top: 4%;
    
    
  }
  .reservationCard{
    border: 10px solid #E9EFF6;
    border-radius: 10px;
    background-color: #E9EFF6;
  }
  #pending{
    color: grey
  }
  #accepted{
    color: #21AC6B
  }
  #declined{
    color: #be403c
  }

  .reservationsList{
    margin-left: 4%;
    width: 90%;
  }

  .profile-buttons{
    margin-bottom: 200px;
    margin-top: 5%;
    

  }
  .profile-buttons a{
    text-decoration: none;
    
  }
  .profile-buttons button{
    border-radius: 10px;
    padding: 10px 15px;
    margin-right: 20px;
    margin-top: 10%;
    border: none;
    background-color: #202D3C;
    color: white;
    font-size: 1em;
    border: 1px solid #202D3C;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    
    
    
  }
  .hourField{
    margin-top: 2%;

    text-align: center;
  }
.select{
  width: 180px;
  margin-bottom: 15%;
  margin-top: 5%;
}
.bookButton{
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #202D3C;
  color: white;
  font-size: 1em;
  border: 1px solid #202D3C;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;    

}
  /* EDIT RESTAURANT PAGE / BUSINESS */

.editRest__base {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "Readex Pro", sans-serif;
  height:1000px;
}

.editRest__header {
  align-self: center;
}

.editRest__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.editRest__fieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* first child / last child / nth child are selectors (ways of targeting elements without classes  */

.editRest__label {
  width: 20%;
}

.editRest__input {
  width: 300px;
  margin-bottom: 20px;
}

.editRest__fieldContainer :last-child .addOne__itemContainer {
  width: 100%;
  margin-bottom: 20px;
}

.editRest__addTypeContainer--dropdown {
  width: 300px;
  margin-bottom: 20px;
}

.editRest__fieldContainer :last-child .addOne__itemContainer :first-child {
  width: 20%;
}

.editRest__fieldContainer :last-child .addOne__itemContainer :nth-child(2) {
  width: 30%;
}

.editRest__fieldContainer :last-child .addOne__itemContainer :last-child {
  width: 30%;
}

.editRest__fieldContainer--fullWidth :first-child {
  width: 100%;
}

.editRest__addTypeContainer {
  margin-left: 10px;
}

.editRest__submitButton{
  width: 110px;
}

.addOne__base {
  display: flex;
  flex-direction: column;
}

.addOne__itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.addOne__itemContainer :first-child {
  width: 20%;
}

.addOne__itemContainer :last-child {
  width: 60%;
}

/* NAVBAR */

.navBar__logInButton{
    color: white;
    list-style: none;
    color: white;
    text-decoration: none;
    margin-top: 24px;
    margin-right: 19px;
    font-size: 18px;
}

.navBar__logInButtonContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}


.menuContainer{
 margin-left: 5%;
 margin-bottom: 30px;
}

.navBar__img{
  position: relative;
  width: 247px;
  top: -19px;
}


.businessProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.business-buttons{
display: flex;
flex-direction: row;
}

.business-buttons button{
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #21AC6B;
  color: white;
  font-size: 1em;
  border: 1px solid #21AC6B;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
  margin-right: 20px;   

  }
  .business-buttons{
    margin-bottom: 5%;
    margin-top: 5%;
  
  }
  .reservationsBusiness h1{
    text-align: center;
  }

  .businessReviews{
    margin-bottom: 100px;
  }